# Import csv from Google Drive via PyDrive

Follow this steps to import csv files to Colab.

In [0]:
!pip install -U -q PyDrive

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Get shareable link

In [0]:
link_to_csv = "https://drive.google.com/open?id=1sYEyqWbodiUj-o-WE4c-Oc6-Q2ys4V5c"

Select the id portion after the equal sign. To get that portion, type in the following code:

In [13]:
waste, id = link_to_csv.split('=')

# Check that you have everything after '='
print(id)

1sYEyqWbodiUj-o-WE4c-Oc6-Q2ys4V5c

# Import to Pandas

In [0]:
import pandas as pd

In [17]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
stats = pd.read_csv('Filename.csv')
stats.head()

,Custommer ID,Name,Surname,Gender,Age,Age Group,Height,Region
0,100001,Zoe,Clarkson,Female,59,50,62.0,Scotland
1,100002,Carolyn,Donald,Female,58,50,61.2,Scotland
2,100003,Anna,Chapman,Female,26,20,65.1,Northen Ireland
3,100004,Richard,Dowwd,Male,21,20,70.9,Nothern Ireland
4,100005,Phil,Arnold,Male,37,30,70.4,Wales

Credits goes to : https://towardsdatascience.com/@aapte.dsml